Repository VRG-2B/skylink, changes with the owners that CODEOWNERS names for each.
All owners: @domasles, @VRG-2B/papermc-mod, @VRG-2B/rain-data-parsing, @VRG-2B/sun-position-translation, @VRG-2B/weather-api-integration

Set up directories
  papermc-mod/build.gradle.kts
  rain-data-parsing/main.py
  sun-position-translation/main.py
  weather-api-integration/main.py
Owners: @VRG-2B/papermc-mod, @VRG-2B/rain-data-parsing, @VRG-2B/sun-position-translation, @VRG-2B/weather-api-integration

Initialized the SkyLink Java mod's codebase
  papermc-mod/.gitignore
  papermc-mod/README.md
  papermc-mod/build.gradle.kts
  papermc-mod/settings.gradle.kts
  papermc-mod/src/main/java/skylink/SkyLink.java
  papermc-mod/src/main/resources/config.yml
  papermc-mod/src/main/resources/plugin.yml
Owners: @VRG-2B/papermc-mod

Updated LICENSE
  LICENSE
Owners: @domasles

made a game
  rain-data-parsing/main.py
Owners: @VRG-2B/rain-data-parsing

Pridėta orų prognozės API integracija į main.py failą
  weather-api-integration/main.py
Owners: @VRG-2B/weather-api-integration

made it snow
  rain-data-parsing/main.py
Owners: @VRG-2B/rain-data-parsing

made weather
  rain-data-parsing/hello_world.py
  rain-data-parsing/number_game.py
  rain-data-parsing/weather_animation.py
Owners: @VRG-2B/rain-data-parsing

I made a game.
  sun-position-translation/main.py
Owners: @VRG-2B/sun-position-translation

Made SkyLink a singleton class
  papermc-mod/src/main/java/skylink/SkyLink.java
  papermc-mod/src/main/java/skylink/domain/config/PluginConfig.java
Owners: @VRG-2B/papermc-mod

Added GH actions for SkyLink's PaperMC mod + MC server
  .github/workflows/build-mc-server.yml
Owners: @domasles

Tweaked the docker-compose.yml file to have correct URLs
  papermc-mod/docker-compose.yml
Owners: @VRG-2B/papermc-mod

Renamed Docker image name to mc-server
  .github/workflows/build-mc-server.yml
Owners: @domasles

Tweaked the docker-compose.yml file to have correct naming structure and URLs
  papermc-mod/docker-compose.yml
Owners: @VRG-2B/papermc-mod

Added a sample router and request model Added a .gitignore
  weather-api-integration/.gitignore
  weather-api-integration/endpoints/router.py
  weather-api-integration/models/weather.py
Owners: @VRG-2B/weather-api-integration

Refactor weather data retrieval functions and update city input handling
  weather-api-integration/main.py
Owners: @VRG-2B/weather-api-integration

Pridėta funkcija, kuri grąžina ar yra perkūnija
  weather-api-integration/main.py
Owners: @VRG-2B/weather-api-integration

Pirmas įgyvendinimas: pridėta funkcionalumas, konvertuojantis Open-Meteo saulėtekio/saulėlydžio ISO datetimes į Minecraft ticks; pridėta CLI ir testai.
  sun-position-translation/README.md
  sun-position-translation/__pycache__/main.cpython-312.pyc
  sun-position-translation/main.py
  sun-position-translation/requirements.txt
  sun-position-translation/tests/__pycache__/test_conversion.cpython-312-pytest-8.4.1.pyc
  sun-position-translation/tests/test_conversion.py
Owners: @VRG-2B/sun-position-translation

Deleted test game.
  .vscode/settings.json
  sun-position-translation/main.py
Owners: @domasles, @VRG-2B/sun-position-translation

Išvalyta: pašalinti nereikalingi failai ir pridėti nauji modeliai bei API funkcionalumas
  rain-data-parsing/.gitignore
  rain-data-parsing/main.py
  rain-data-parsing/models/__init__.py
  rain-data-parsing/models/weather.py
  rain-data-parsing/requirements.txt
  rain-data-parsing/services/__init__.py
  rain-data-parsing/services/weather_service.py
  rain-data-parsing/weather_animation.py
Owners: @VRG-2B/rain-data-parsing

Pridėta lietaus duomenų palaikymas: atnaujinta ThunderResponse modelis ir get_thunder funkcija
  rain-data-parsing/models/weather.py
  rain-data-parsing/services/weather_service.py
Owners: @VRG-2B/rain-data-parsing

Pridėta orų prognozės API integracija į main.py failą
  weather-api-integration/main.py
Owners: @VRG-2B/weather-api-integration

Added a sample router and request model Added a .gitignore
  weather-api-integration/.gitignore
  weather-api-integration/endpoints/router.py
  weather-api-integration/models/weather.py
Owners: @VRG-2B/weather-api-integration

Refactor weather data retrieval functions and update city input handling
  weather-api-integration/main.py
Owners: @VRG-2B/weather-api-integration

made weather
  rain-data-parsing/hello_world.py
  rain-data-parsing/number_game.py
  rain-data-parsing/weather_animation.py
Owners: @VRG-2B/rain-data-parsing

made it snow
  rain-data-parsing/main.py
Owners: @VRG-2B/rain-data-parsing

made a game
  rain-data-parsing/main.py
Owners: @VRG-2B/rain-data-parsing

Merged weather api integration funcs
  weather-api-integration/main.py
Owners: @VRG-2B/weather-api-integration

CODEOWNERS:

# Global owner - project curator
* @domasles

# Folder-specific teams
/papermc-mod/ @VRG-2B/papermc-mod
/rain-data-parsing/ @VRG-2B/rain-data-parsing
/sun-position-translation/ @VRG-2B/sun-position-translation
/weather-api-integration/ @VRG-2B/weather-api-integration
